<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Orders</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<!-- 
	    * Order有ord_num(訂單編號),ord_date(創建訂單日期,自動),required_date(更新訂單日期,自動),county(購買地區),
	    * order_status(訂單狀態),payment_method(付款方式),order_barcode(訂單條碼,自動)
	-->
	<div class="container mt-4">
		<h1 th:if="${name}">
			<span th:text="#{home.message} + ${name}"></span>
		</h1>
		<h1 th:unless="${name}">
			<span th:text="#{home.message} + #{home.visitor}"></span>
		</h1>
	
		<a th:href="@{/}" class="btn btn-outline-secondary mb-3">Back</a>
		<h3>Order Information</h3>
		<a th:href="@{/orders/add}" class="btn btn-primary mb-3">Add New
			Order</a>
		
			<a th:href="@{/customers}" class="btn btn-primary mb-3"th:text="#{a.customer_list}">Customer List</a>
    		<a th:href="@{/users}" class="btn btn-primary mb-3"th:text="#{a.user_list}">User List</a>
    		<a th:href="@{/products}" class="btn btn-primary mb-3"th:text="#{a.products}">products</a> 
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Order Number</th>
					<th>Order Date</th>
					<th>Update Date</th>
					<th>County</th>
					<th>Customer Number</th>
					<th>Status</th>
					<th>Payment Method</th>
					<th>Order Barcode</th>
					<th>Function</th>
				</tr>
			</thead>
			<tbody>
				<!-- 遍历所有订单 rowspan="${#lists.size(orderDetails)}"-->
				<tr th:each="order : ${orders}">
					<!-- 主订单信息 -->
					<td>
						<a th:href="@{/orderDetails/{orderId}(orderId=${order.ordNum})}" th:text="${order.ordNum}"></a>
					</td>
					<td th:text="${order.ordDate}"></td>
					<td th:text="${order.requiredDate}"></td>
					<td th:text="${order.county}"></td>
					<td th:text="${order.customer.customerId}"></td>
					<td th:text="${order.orderStatus}"></td>
					<td th:text="${order.paymentMethod}"></td>
					<td th:text="${order.orderBarcode}"></td>
					<td>
						<a th:href="@{/orders/edit/{orderId}(orderId=${order.ordNum})}"
						class="btn btn-warning btn-sm"> Edit </a>
						<a th:href="@{/orders/delete/{orderId}(orderId=${order.ordNum})}"
						class="btn btn-warning btn-sm" onclick="return confirm('Are you sure you want to delete this order?');">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

		<a th:href="@{/logout}" class="btn btn-danger mt-4">Logout</a>
	</div>
</body>
</html>
